@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body,html{
  width: 100%;
}

body{
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
}

a,button,input{
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}