@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body,
html {
  width: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}

a,
button,
input {
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.center {
  /* 박스를 가운데로 보내는 것. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

.en {
  font-family: "Exo 2", sans-serif;
}

/* 모바일에서는 줄바꿈 해제 */
br.mo {
  display: none;
}
