@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}

a,
button,
input {
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.center {
  /* 박스를 가운데로 보내는 것. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

.en {
  font-family: "Exo 2", sans-serif;
}

/* 모바일에서는 줄바꿈 해제 */
br.mo {
  display: none;
}
@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body,
html {
  width: 980px;
  margin: 0 auto;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}

a,
button,
input {
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;


}

/* header-------------------- */

.main_top {
  width: 100%;
  height: 130px;
  /* background-color: rgb(198, 252, 234); */
}
.logo {
  float: left;
  width: 50%;
  /* background-color: antiquewhite; */
}
.logo img{
  position: relative;
  top:40px;
}
.member_info{
  float:right;
  width:30%;
  padding:30px;
  /* background-color: rgb(194, 172, 143); */
  display: flex;
  position: relative;
  justify-content: space-between;
}
.member_info .m_icon{
  /* position: absolute; */
  flex-wrap:nowrap;
  text-align: center;
  
  /* background-color: lightblue; */
  
}

.member_info .m_icon img{
  /* width:50%; */
  width:40px;
  align-items: center;
  /* position:relative;
  right:-8px; */
  /* padding:0 12px; */
}
.member_info .m_icon div {
  text-align: center;
  font-size: 15px;
}

/* --- 메뉴 --- */
.nav {
  width: 100%;
  /* background-color: red; */
  border-top: 0.1px solid #d8d8d8;
  border-bottom: 2px solid rgb(237, 28, 52);
}
.nav::after {
  content: "";
  clear: both;
  display: block;
}

.nav .nav_menu {
  display: flex;
  float: left;
  width: 60%;
  padding: 10px 0;
}
.nav .nav_menu .menu {
  padding: 10px 20px;
  font-weight: 500;
  /* background-color: yellow; */
}
.nav .nav_menu .menu:hover {
  color: rgb(237, 28, 52);
  font-weight: 700;
}
.nav .search {
  width: 25%;
  float: right;
  margin: 10px 7px;
  border-left: 2px solid #5c5c5c;
  border-right: 2px solid #5c5c5c;
}
.nav .search input {
  border: none;
  width: 80%;
  margin: 3px 5px;
}
.nav .search img {
  width: 10%;
  position: relative;
  top: 5px;
}

/* footer--------------------*/
footer {
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.05);
  padding-top: 300px;
  font-size: 13px;
  padding-bottom: 30px;
}
footer .police_list {
  width: 100%;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;
}

footer .police_list a {
  display: inline-flex;
  height: 15px;
  padding: 7px;
  font-weight: 500;
}
footer .police_list a:nth-child(8) {
  font-weight: bold;
  text-decoration: underline;
}
footer .info {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
footer .info p {
  width: 60%;
  float: left;
  line-height: 20px;
  font-weight: 500;
  color: #5c5c5c;
  font-size: 12px;
}
footer .info .choose {
  width: 30%;
  float: right;
  position: relative;
  height: 30px;
  margin-top: auto;
}
footer .info .choose select {
  padding: 5px;
  width: 180px;
  position: absolute;
  right: 48px;
  border: 1px solid #818181;
}
footer .info .choose button {
  position: absolute;
  right: 5px;
  width: 40px;
  height: 30px;
  background-color: #7c7c7c;
  color: #fff;
  border: none;
}