.container{
  width: 980px;
  margin: 0 auto;
  padding: 60px 0 200px;


}
.menu_wrap h2{
  font-size: 48px;
}
.menu_wrap nav{
  margin-top: 60px;
  display: flex;
  border-top: solid 2px #000;
  border-bottom: solid 1px #000;
  padding: 20px 0;

}
.menu_wrap nav ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu_wrap nav ul li{
  font-size: 14px;
  color: #6b6b6b;
  display: flex;
  align-items: center;
}
.menu_wrap nav ul .bar{
  content: '';
  display: inline-block;
  width: 1px;
  height: 8px;
  background-color: #ddd;
  margin-right: 20px;
}
.menu_wrap nav ul b {
  display: flex;
  align-items: center;
  color: #000;
}
.menu_wrap nav ul b .num{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  line-height: 18px;
  color: #fff;

}
h3{
  font-size: 36px;
  padding-bottom: 20px;
  border-bottom: solid 1px #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h3 button{
  width: 30px;
  height: 30px;
  background: url(../images/store/moreCircle.png) no-repeat;
  background-size: cover;
  border: none;
  transform: translateY(4px);
}
.pakages_wrap{
  padding: 150px 0 ;
}
.pakages_list{
  padding-top: 30px;
  display: flex;

}
.pakages_list li {
  width: calc((100% - 90px)/4);
  margin-right: 30px;
}
.pakages_list li:last-child{
  margin-right: 0;
}
.pakages_list li a .img{
  position: relative;
}
.pays_wrap ul li .txt_wrap:hover  .layer,
.pakages_list li a .img:hover .layer{
  opacity: 1;
  pointer-events: all;
}
.layer{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  transition: .4s ease-out;
}
.layer button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.8);
  border: none;
  margin-right: 10px;
  position: relative;
}
.layer button:last-child{
  margin-right: 0;
}
.layer button i{
  stroke: #fff;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: .2s ease-out;
}
.layer button:hover i{
  opacity: 0;
}
.layer button:hover::after{

  opacity: 1;
}
.layer button::after{
  content: '';
  display: inline-block;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 12px;
  width: 20px;
  height: 26px;
  word-break: keep-all;
  color: #fff;
  transition: .2s ease-out;

}
.layer button.cart::after{
  content: '장바 구니';
}
.layer button.gift::after{
  content: '선물 하기';
}
.layer button.bag::after{
  content: '구매 하기';

}
.pakages_list li a img{
  width: 100%;
}
.pakages_list li h4{
  font-size: 18px;
  margin-top: 30px;
}
.pakages_list li h4 span{
  font-size: 16px;
  color: #6b6b6b;
  display: block;
  margin-top: 10px;
}
.pakages_list li .price{
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.pakages_list li .price span{
  color: #6b6b6b;
  text-decoration-line: line-through;
  padding-left: 10px;
}
.pays_wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pays_wrap ul li .layer{
  background-color: rgba(255,255,255,0.8);
  height: 105%;
  backdrop-filter: blur(0);
}
.pays_wrap>section{
  width: calc((100% - 60px)/2);
}
.pays_wrap>section:last-child{
  margin-top: 100px;
}
.pays_wrap ul {
  padding-top: 30px;
}
.pays_wrap ul li{
  width: 100%;
  margin-bottom: 40px;

}
.pays_wrap ul li:last-child{
  margin-bottom: 0;
}
.pays_wrap ul li a{
  display: flex;
  align-items: center;
}
.pays_wrap ul li .img{
  width: 150px;
  
}
.pays_wrap ul li .img img{
  width: 100%;
}
.pays_wrap ul li .txt_wrap{
  width: calc(100% - 150px);
  padding-left: 30px;
  position: relative;
}
.pays_wrap ul li .txt_wrap h4{
  font-size: 18px;
}
.pays_wrap ul li .txt_wrap  .description{
  font-size: 16px;
  color: #6b6b6b;
  padding-top: 10px;
  line-height: 1.2;
  word-break: keep-all;
}
.pays_wrap ul li .txt_wrap .price{
  font-size: 18px;
  padding-top: 20px;
}
.info_wrap{
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  padding: 30px 0;
  display: flex;
  margin-top: 150px;

}
.info_wrap .gift_wrap{

  width: calc(100% - 380px);
  position: relative;
}
.info_wrap .gift_wrap::after{
  content: '';
  display: inline-block;
  width: 1px;
  height: 80%;
  background-color: #6b6b6b;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.info_wrap .center_wrap{
width: 380px;
}
.info_wrap > div{
  padding: 0 30px;
}
.info_wrap .gift_wrap a{
  display: flex;
  align-items: center;
}
.info_wrap .gift_wrap a>p{
  width: calc(100% - 200px);
}
.info_wrap .gift_wrap i{
  display: inline-block;
  width: 160px;
  height: 100px;

  background: url(../images/store/info.png) no-repeat;
  background-size: cover;

}
.info_wrap .gift_wrap b{
  font-size: 22px;

}
.info_wrap .gift_wrap b::after{
  content: '';
  display: inline-block;
  width: 10px;
  height: 16px;
  background: url(../images/store/arrow_bk.png) no-repeat;
  background-size: cover;
  margin-left: 10px;
}
.info_wrap .gift_wrap span{
  display: block;
  padding-top: 20px;
  font-size: 15px;
  line-height: 1.2;
  color: #6b6b6b;
}
.info_wrap .center_wrap .tit{
  font-size: 18px;
}
.info_wrap .center_wrap .tell{
  font-size: 24px;
  margin-top: 10px;
}
.info_wrap .center_wrap .tell::before{
  content: '';
  display: inline-block;
  width: 33px;
  height: 22px;
  background: url(../images/store/tell.png) no-repeat;
  background-size: cover;
  margin-right: 10px;
}
.info_wrap .center_wrap >span{
  font-size: 14px;
  color: #6b6b6b;
  margin-top: 10px;
  display: block;
}