@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");
@import url(common.css);
a {
  text-decoration: none;
}
.favorite_container {
  background: yellow;
  width: 980px;
  height: 460px;
  margin: 0 auto;
  padding: 60px 53px 0;
  background: url(../images/bg_showtimes_favorite.gif) no-repeat center/cover;
}
.favorite_container .favorite {
  /* border: 1px solid yellow; */
  width: 98%;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  position: relative;
}
.favorite_container .favorite h4 {
  /* line-height: 50px; */
  padding-right: 30px;
  width: 20%;
  /* background: blue; */
}
.favorite_container .favorite h4 > img {
  /* border: 3px solid purple; */
  width: 150px;
  /* flex: 3; */
  margin-right: 30px;
}
.favorite_container .favorite .favorite_select_button {
  /* border: 3px solid green; */
  /* flex: 6; */
  border: 5px double #6e6c6d;
  margin: 2px;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  /* width: ; */
  /* height: 50px; */
  width: 14.2%;
  height: 60px;
  cursor: pointer;
  position: relative;
  display: block;
}
.favorite_container .favorite .favorite_select_button > div {
  position: absolute;
  top: 0;
  right: 5px;
}
.favorite_container .favorite .favorite_select_button_plus {
  /* border: 3px solid blue; */
  /* flex: 1; */
  background: #6e6c6d;
  width: 250px;
  width: 7%;
  height: 60px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #6e6c6d;
}
/* favite_select-end */
.favorite_container .select_city {
  /* background: blue; */
  width: 103%;
  margin-left: -14px;
  /* border: 1px solid #000; */
  /* margin-bottom: 5px; */
}
.favorite_container .select_city .city_menu {
  display: flex;
  border-top: 2px solid #6e6c6d;
  color: #b9b9b9;
  font-weight: 18px;
  border-bottom: 2px solid #6e6c6d;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding-left: 10px;
  margin-bottom: 20px;
}

.favorite_container .select_city .city_menu .in_city {
  flex: 2;
  margin: 15px;
  /* padding-left: 2px; */
  text-align: center;
}
.favorite_container .select_city .city_menu .in_city:hover {
  font-weight: bold;
  color: #fff;
}
.favorite_container .select_city .city_menu .in_city_last {
  flex: 4;
}
/* header selectcity end */
.favorite_container .select_cgv {
  /* background: black; */
  width: 96%;
  margin: 0 auto;
  font-size: 14px;
}
.favorite_container .select_cgv .select_hole {
  color: #b9b9b9;
  line-height: 35px;
  font-size: 13px;
}
.favorite_container .select_cgv .select_hole .cgv_name {
  float: left;
  margin-top: 6px;
  margin-left: 20px;
}
.favorite_container .select_cgv .select_hole .cgv_name > a {
  position: relative;
}
.favorite_container .select_cgv .select_hole .cgv_name > a:hover {
  color: #fff;
  font-weight: 600;
  letter-spacing: -0.04px;
}

.favorite_container .select_cgv .select_hole .cgv_name > a::before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 12px;
  background: #b9b9b9;
  position: absolute;
  right: -10px;
  top: 2px;
}

/* 헤더 끝 */
.main_section {
  width: 980px;
  margin: 0 auto;
}
.main_section .banner {
  height: 41px;
  margin: 30px 0 15px;
  background: url(https://img.cgv.co.kr/r2014/images/common/bg/bg_h3_line.jpg)
    repeat-x 0 50%;
  line-height: 41px;
  text-align: center;
  font-weight: 500;
}
.main_section .section_main {
  /* background: blue; */
  font-size: 35px;
  position: relative;
}
.main_section .section_main .head {
  font-size: 14px;
  background: red;
  position: absolute;
  right: 0;
  text-align: center;
  display: inline-block;
  /* padding: 8px; */
  color: #fff;
  font-weight: bold;
  padding: 8px 20px;
}
.main_section .section_main .box-image {
  width: 980px;
  height: 420px;
  position: relative;
  /* border: 4px solid #000; */
}
.main_section .section_main .box-image img {
  width: 100%;
}
.main_section .section_main .content-box {
  border: 1px solid #000;
  color: #fff;
  font-weight: bold;
  background: rgba(16, 12, 12, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 165px;
  display: flex;
  /* margin-bottom: 10px; */
}
.main_section .section_main .content-box .first-content {
  flex: 6;
  /* background: yellow; */
  padding: 20px 30px;
  font-size: 14px;
  position: relative;
  /* border-right: 1px solid #6e6c6d; */
}
.main_section .section_main .content-box .first-content .tebox {
  /* border: 1px solid #000; */
  margin-right: -30px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-right: 1px solid #6e6c6d;
}
.main_section .section_main .content-box .first-content div > span {
  font-size: 12px;
  padding-left: 10px;

  color: #e7dae0;
}
.main_section .section_main .content-box .second-content {
  flex: 4;
  /* background: blue; */
}
.main_section .section_main .content-box .first-content .text2 {
  margin-top: 15px;
  line-height: 20px;
  font-weight: 300;
}
.main_section .section_main .content-box .first-content .text2 .screenX {
  width: 82px;
  height: 17px;
  margin: 3px 2px;
  padding: 0;
  background: url(../images/sprite_screentype02.png) -99px -162px no-repeat;
  vertical-align: top;
  color: rgba(0, 0, 0, 0);
  position: absolute;
  right: 90px;
  top: 30px;
}
.main_section .section_main .content-box .second-content {
  /* border: 3px solid yellow; */
  padding-top: 20px;
  font-size: 13px;
  padding-left: 30px;
  position: relative;
}

.main_section .section_main .content-box .second-content > a {
  display: inline-block;
  width: 20px;
  background: url(../images/sprite_btn.png) -50px -62px no-repeat;
  height: 19px;
  vertical-align: middle;
  position: absolute;
  left: 80px;
  top: 15px;
  color: rgba(0, 0, 0, 0);
}
.main_section .section_main .event_banner {
  margin: 40px 0;
  display: block;
  width: 980px;
  height: 90px;
}
.main_section .section_main .tab-menu {
  height: 980px;
  height: 40px;
  /* background: blue; */
}
.main_section .section_main .tab-menu ul {
  display: flex;
  width: 30%;
  margin: 0 auto;
  /* border: 1px solid yellow; */
  font-size: 15px;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: red;
}
.main_section .section_main .tab-menu ul li {
  padding: 0 30px;
  color: #fff;
  font-weight: bold;
  /* padding-left: 15px; */
  /* border: 4px solid purple; */
  /* border-right: 1px solid #000; */
}
.main_section .section_main .tab-menu ul li:nth-child(2) {
  /* border: 4px solid purple; */
  padding-right: 15px;
  padding-left: 20px;
  border-left: 2px solid #fff;
}
.main_section .section_main .last_section_container {
  width: 980px;
  margin: 0 auto;
  height: 1122px;
  margin-top: 30px;
  margin-bottom: 15px;
  /* background: gray; */
}
.main_section .section_main .last_section_container .times-wrap {
  float: left;
  /* border: 1px solid #000; */
  width: 800px;
  margin: 0 auto;

  /* border: 1px solid #000; */
  /* background: blue; */
}
.main_section .section_main .last_section_container .aside {
  float: right;
  /* border: 1px solid #000; */
  width: 160px;
}
.main_section
  .section_main
  .last_section_container
  .aside
  .ad-partner01
  > iframe {
  /* margin-top: 100px; */
  margin-bottom: 14px;
}

.main_section .section_main .last_section_container .times-wrap .sect-schedule {
  width: 100%;
  /* border: 10px solid #000; */
  height: 130px;
  border-top: 3px solid #241d1e;
  /* border: 1px solid #000; */
  border-bottom: 3px solid #241d1e;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-schedule
  .slider {
  /* background: yellow; */
  height: 72px;
  /* padding-top: 50000px; */
  margin-top: 15px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-schedule
  .slider
  .item-wraps
  .item
  li {
  float: left;
  width: 10%;
  height: 48px;
  /* border: 1px solid #000; */
  padding: 10px 5px;
  font-size: 12px;
  position: relative;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-schedule
  .slider
  .item-wraps
  .item
  li
  > strong {
  font-size: 35px;
  float: right;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-schedule
  .slider
  .item-wraps
  .item
  > li
  span,
em {
  font-weight: 30px;
  float: left;
  /* border: 1px solid #000; */
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-schedule
  .slider
  .item-wraps
  .item
  > li
  .conbox {
  float: left;
  /* border: 1px solid #000; */
  width: 30px;
}

.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-schedule
  .slider
  .item-wraps
  .item
  > li
  .conbox
  em {
  /* width: 30px; */
  margin-left: 7px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-schedule
  .slider
  .item-wraps
  .item
  > li
  > strong {
  position: relative;
  bottom: 5px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-schedule
  .slider
  .item-wraps
  .item
  > li
  .back-prev {
  position: relative;
  top: 27px;
  width: 54px;
  height: 19px;
  margin: 0;
  font: 0 / 0 a;
  background-image: url(https://img.cgv.co.kr/r2014/images/sprite/sprite_btn.png);
  background-repeat: no-repeat;
  zoom: 1;
  left: 0px;
  top: 3px;
  background-position: -117px -174px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-schedule
  .slider
  .item-wraps
  .item
  > li
  .front-next {
  position: relative;
  width: 54px;
  height: 19px;
  margin: 0;
  font: 0 / 0 a;
  background-image: url(https://img.cgv.co.kr/r2014/images/sprite/sprite_btn.png);
  background-repeat: no-repeat;
  zoom: 1;
  right: -10px;
  background-position: -117px -155px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-schedule
  .slider
  > span {
  /* background: blue; */
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
  position: relative;
  right: -540px;
  bottom: -10px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-schedule
  .slider
  > span
  > a {
  background-image: url(https://img.cgv.co.kr/r2014/images/sprite/sprite_icon.png);
  background-repeat: no-repeat;
  height: 13px;
  padding-left: 18px;
  background-position: 0 -158px;
  line-height: 13px;
  zoom: 1;
  /* display: block; */
  position: absolute;
  left: 0px;
  bottom: 5px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .descri-timezone {
  /* background: #000; */
  /* border: 1px solid #000; */
  width: 800px;
  height: 40px;
  font-size: 16px;
  border-bottom: 1px solid #000;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .descri-timezone
  .early {
  float: left;
  padding-left: 30px;
  line-height: 40px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .descri-timezone
  .midnight {
  float: left;
  line-height: 40px;
  padding-left: 30px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .descri-timezone
  > p {
  float: left;
  padding-left: 40px;
  line-height: 40px;
  color: #241d1e;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li {
  padding: 40px 0;
  /* border: 1px solid #000; */
  border-bottom: 1px solid #000;
  /* height: auto; */
  font-size: 12px;
  /* display: block; */
  /* background: blue; */
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li
  .col-time {
  margin-left: 14px;
  padding-left: 26px;
  float: left;
  width: 900px;
  /* height: auto; */
  /* border: 1px solid #000; */
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li
  .col-time
  .movie-name
  > a
  > strong {
  font-size: 18px;
  color: #000;
  margin-right: 5px;
  /* border: 1px solid blue; */
  float: left;
  /* width: 80px; */
  /* display: inline; */
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li
  .col-time
  .movie-name
  .lightblue
  > em {
  vertical-align: top;
  border: 2px solid #3e82a4;
  color: #3e82a4;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 1px;
  margin-right: 15px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li
  .col-time
  .movie-name
  > span
  > div {
  line-height: 20px;
  padding-left: 10px;
  color: #6e6c6d;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li
  .col-time
  .movie-time {
  margin-top: 10px;
  padding-top: 10px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li
  .col-time
  .movie-time {
  margin-top: 10px;
  padding-top: 10px;
  /* border: 1px solid #000; */
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li
  .col-time
  .movie-time
  .hall-info {
  margin-bottom: 5px;
  padding-left: 16px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li
  .col-time
  .movie-time
  .hall-info
  > ul {
  width: 800px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li
  .col-time
  .movie-time
  .hall-info
  > ul
  > li {
  float: left;
  /* display: block; */
  /* margin-bottom: 5px; */
  padding-right: 10px;
  padding-left: 10px;
  /* width: 33%; */
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li
  .col-time
  .movie-time
  .hall-info
  > ul
  > li:first-child {
  padding-left: 0px;
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li
  .col-time
  .info-timetable
  > ul
  > li {
  float: left;
  width: 70px;
  height: 40px;
  padding-top: 5px;
  border: 1px solid #cbcabe;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;

  /* padding: 30px; */
}
.main_section
  .section_main
  .last_section_container
  .times-wrap
  .sect-showtime
  > ul
  > li
  .col-time
  .info-timetable
  > ul
  > li
  > em {
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  /* padding-left: 5px; */
}
.hide {
  opacity: 0;
}

.set_color {
  color: #3e82a4;
}

.set_sellout {
  color: gray;
}
